<div class="container bucket-container management">
 <div  class="row">    
    <div class="col-md-12" align="center" style="margin:50px;">
      
    </div>
    <div class="col-md-offset-3 col-md-6">
      <form action="/home/management_save_searchtag" method="POST">
        <input type="hidden" name = "id" value="<%= @tag.id %>" >    
        <table style="width:100%">
          <tr>
            <th class="tabletitle">태그내용</th>
            <td><input class = "form-control" type="text" name = "content" value="<%= @tag.content %>"></td>
          </tr>       
          
        </table>
        <br>
        <div class="actions">
          <input style="width:100%" class="btn btn-danger" type="submit" value="저장" id="submit_button">
        </div>
      </form>
    </div>

  </div>
</div>