<header> 
  <div class="header_inner">
  	<div class="row help-sentence">
	    <h1 class="headline text-weight_300">개인정보 보호정책</h1>
	    
	</div>
  </div>
</header>

<div class="help-container">
  <div class="row">
  	<div class="col-md-8 col-md-offset-2">
<p>
<br>일반 회원
<br>
<br>- 필수항목 : 성명, 아이디, 비밀번호, 주소, 전화번호, 이메일 주소, 휴대폰 번호, 만 14세 미만인 경우 법정대리인 정보, 구매정보
<br>
<br>
<br>ο 개인정보 수집방법 : 홈페이지(회원가입, 상담게시판, 공개 게시판 등), 서면양식, 경품 행사 응모 , 배송 요청
<br>
<br>
<br>ο 수집항목
<br> - 개인정보    
<br>     
<br>    개인정보의 처리 목적
<br>    회사는 다음의 목적을 위해 이용자의 개인정보를 처리합니다.
<br>    ο 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산 콘텐츠 제공, 구매 및 요금 결제, 본인인증, 물품배송 또는 청구지 등 발송
<br>    ο 회원 관리
<br> 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령확인, 불만처리 등 민원처리, 고지사항 전달
<br>    ο 마케팅 및 광고에 활용
<br>    신규 서비스(제품) 개발 및 특화, 이벤트 등 광고성 정보 전달, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계
<br>    ο 기타
<br>    가입횟수 제한, 분쟁조정을 위한 기록보존, 회원의 기타 통계자료 산출
<br>    
<br>    
<br>    개인정보의 처리 및 보유기간
<br>    개인정보의 처리 및 보유기간은 다음과 같습니다.
<br>    
<br>    ο 보유항목: 처리항목과 같습니다.
<br>    ο 보유근거: 이용약관 및 개인정보처리방침
<br>    ο 보유기간: 이용계약에 따른 회원자격이 유지되는 기간 동안
<br>    
<br>   그러나 회원탈퇴 후에도 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 일정 기간 동안 회원정보를 보관합니다.
<br>    
<br>    표시/광고에 관한 기록 :  6개월 (전자상거래등에서의 소비자보호에 관한 법률)
<br>    계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래 등에서의 소비자보호에 관한 법률)
<br>    대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
<br>    소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)
<br>신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률) 통신비밀보호법에 따른 통신사실확인자료 3개월 
<br>
<br>
</p>
  	    
	</div>
  </div>
</div>