<p>안녕하세요. Pure 입니다.</p>
<br>
<p><%= @resource.email %> 님의 비밀번호 재설정 요청을 받았습니다. 아래의 링크를 클릭하면 비밀번호를 재설정할 수 있습니다.</p>
<br>
<p><%= link_to '비밀번호 재설정', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>만약 비밀번호 재설정 요청을 하지 않으셨다면, 이 메일을 무시하십시오.</p>
<p>위의 링크를 클릭하지 않는다면, 고객님의 비밀번호는 그대로 유지됩니다.</p>
